body {
    font-family: "CoveredByYourGrace-Regular";
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin: 25px;
    background-image: url(../images/space.png);
    background-position: top center;
}