.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}

.link--active {
    text-decoration: none;
    color: #40b6cb;
}

@media screen and (max-width: 480px) {
    .navigation {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}