.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.error__error-text {
    display: flex;
    font-size: 100px;
}

.error__wrapper {
    display: flex;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.error__button {
    font-size: 28px;
    color: #10aec6;
    
    padding: 5px 25px;
    background: #FFFFFF;
    border: 3px solid #10aec6;;
    border-radius: 15px;

    transition: all 0.25s;

    &:hover {
        cursor: pointer;
        opacity: 0.75;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}