.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.home__logo {
    max-width: 700px;
    height: auto;
}

.home__h3 {
    font-size: 36px;
}

.home__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.home__button {
    font-size: 36px;
    color: #40b6cb;
    
    padding: 5px 25px;
    background: #FFFFFF;
    border: 3px solid #40b6cb;;
    border-radius: 15px;

    transition: all 0.25s;

    &:hover {
        cursor: pointer;
        opacity: 0.75;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

@media screen and (max-width: 480px) {
    .home__logo {
        max-width: 350px;
    }

    .home__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    .home__h3 {
        text-align: center;
        font-size: 36px;
    }
}

@media screen and (max-width: 1200px) {
    .home__buttons {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 768px) {
    .home__logo {
        max-width: 350px;
    }
}